body {
    font-family: sans-serif;
    margin: 0;
}

html {
	background-color: #292929;
	color: rgb(201, 201, 201);
}

.album a:link {
    color: rgb(201, 201, 201);
    text-decoration: none;
}

.album a:visited {
    color: rgb(201, 201, 201);
    text-decoration: none;
}

.album a:hover {
    color: rgb(179, 179, 179);
    text-decoration: none;
}

a:link {
    color: rgb(59, 211, 59);
    text-decoration: none;
}

a:visited {
    color: rgb(59, 211, 59);
}

a:hover {
    color: rgb(255, 255, 255);
}

th, td {
    padding: 5px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

div.main {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}

a.button {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  text-decoration: none;
  border-style: solid;
  border-radius: 6px;
  border-color: rgb(59, 211, 59);
}

a.button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(59, 211, 59);
}

.header {
    overflow: hidden;
    background-color: #070707;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: rgb(209, 209, 209);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 6px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: rgb(59, 211, 59);
    color: rgb(255, 255, 255);
  }
  
  .header a.active {
    background-color: rgb(59, 211, 59);
    color: white;
  }
  
  .header-right {
    float: right;
  }

  .header-right a {
    margin-left: 10px;
  }

